*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(13, 13, 245);    
}
h1{
    text-align: center;
    font-size:4em;
    font-family: Cambria, Cochin;
}
h1 span{
    color: rgb(0, 255, 42);
    font-size: 70px;
}
.continer {
    width: 50%;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;   
}
.s1,.s2,.s3,.s4,.s5,.s6,.s7,.s8,.s9{
    display: flex;
    background-color: black;
    width: 200px;
    height: 200px;
    border: 1px solid whitesmoke;
    border-radius:5px ;
    color: antiquewhite;
    font-size: 100px;
    align-items: center; 
    justify-content: center;      
}
.c{
    transition: 0.2s;
    
}
.c:hover{
    background-color: rgb(85, 79, 79);
    scale: 1.03;
    box-shadow: 0 0 10px whitesmoke;
}

